main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    text-align: center;
    padding-bottom: 2em;
}

form  div{
    padding-bottom: 2em;
}

 form,  form div {
 display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    margin: auto;
}

form input {
    height: 3.1875em;
    width: 23.6875em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}

form label {
    text-align: start;
    width: 100%;
    padding-bottom: 1em;
}

#btnLogin{
font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 1em;
}

