:root {
    --bg-color: #FFFEF8;
}
a{
    color: #000;
}
body {
    font-family: 'Work Sans';
    font-size: 14px;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

header, main, footer {
    max-width: 1140px;
    margin: auto;
}


section {
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
    ;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover, li:hover a{
    text-decoration : none;
    color: #B1663C;
}
 li a {
    text-decoration : none;
}

.sort-list{
    font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	margin: 2em auto;
	text-align: center;
	border-radius: 60px;
background-color: #FFF;
	padding: 1em 2em;
}

footer{
      height: 60px;
    background-color: #FFF;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: 100%;

}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 107px;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    gap: 46px;
    display: flex;
    flex-direction: column;
}
.modal-content h2{
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}