#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.head-edit-mode, .edit-mode {
	display: none;
	flex-direction: row;
	justify-content: center;
	gap: 1em;

}

.edit-mode {
	align-items: center;
}

.head-edit-mode {
	width: 100%;
	background-color: black;
	color: white;
	align-items: center;
	height: 59px;
	margin-bottom: 38px;
}

.my-project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3em;
	align-items: baseline;
}

.small-image {
	height: 102px;
	width: 76px;
}

.categories {
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #create {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 1em;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 76px;
	gap: 2em;

}

.figure-image-modal {
	display: flex;
	width: 76px;
	position: relative;
}

.trashIcon {
	display: block;
	position: absolute;
	box-sizing: border-box;
	color: white;
	background-color: black;
	width: 27%;
	height: 18%;
	padding: 4px 5px;
	border-radius: 20%;
	top: 0.4em;
	right: 0.4em;
	display: flex;
	justify-content: center;
	align-items: center;
}